.p-20 {
  padding: 20px;
}
.bg-white {
  background-color: white;
}
.rad-10 {
  border-radius: 10px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.c-grey {
  color: #888;
}
.fs-15 {
  font-size: 15px;
}
.fs-14 {
  font-size: 14px;
}
.fs-13{
  font-size: 13px;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-relative {
  position: relative;
}
.bg-blue {
  background-color: blue;
}
.d-blok {
  display: block;
}
.fw-bold {
  font-weight: bold;
}
.c-blue {
  color: blue;
}
.c-blue-1 {
  color: rgb(0, 166, 255);
}
.bg-orange{
  background-color: orange;
}

.bg-green{
  background-color: green;
}
.c-orange{
  color: orange;
}
.c-green{
  color: green;
}
.c-red{
  color: red;
}
.fs-20{
  font-size: 20px;
}
.bg-eee{
  background-color: #eee;
}
.btn-shape{
  padding: 4px 10px;
  border-radius: 6px;
}
.mr-10{
  margin-right: 10px;
}
.d-flex{
  display: flex;
}
.alige-center{
  align-items: center;
}
.pl-15{
  padding-left: 15px;
}
.mb-25{
  margin-bottom: 25px;
}
.m-0{
  margin: 0;
}
.mt-15{
  margin-top: 15px;
}
.bg-red{
  background-color: red;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
.mb-15{
  margin-bottom: 15px;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mb-0{
  margin-bottom: 0;
}
.p-10{
  padding: 10px;
}
.b-none{
  border: none;
}
.rad-6{
  border-radius: 6px;
}
.w-full{
  width: 100%;
}
.border-ccc{
  border: 1px solid #ccc;
}
.c-white{
  color: white;
}
.c-black{
  color: black;
}
.align-center {
  align-items: center;
}
.txt-c{
  text-align: center;
}
.m-15{
  margin: 15px;
}
.m-20{
  margin: 20px;
}
.rad-half{
  border-radius: 50%;
}
.mt-10{
  margin-top: 10px;
}
.txt-c-mobile{
  @media (max-width: 767px) {
    .box{
      text-align: center;
    }
  }
}
.gap-20{
  gap: 20px;
}
.mt-20{
  margin-top: 20px;
}
.d-grid{
  display: grid;
}
.p-15{
  padding: 15px;
}
.p-absolute{
  position: absolute;
}
.pt-10{
  padding: 10px;
}